<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Done!</title>
</head>
<body>
    <h1>Cảm ơn bạn đã đóng góp một bài thơ hay</h1>
    <button>
        <a href="/posts" style='text-decoration: none; color: black'>Quay lại trang các bài thơ về thu</a>
    </button>
    <button>
        <a href="/new-post" style='text-decoration: none; color: black'>Đóng góp thêm bài thơ nữa</a>
    </button>
</body>
</html>