<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New post</title>
</head>
<body>
    <h1>New post</h1>
    <form method="POST">
        <label for="">Title</label> <br>
        <input type="text" name = 'title'><br><br>
        <label for="">Author</label><br>
        <input type="text" name='author'><br><br>
        <label for="">Content</label><br>
        <textarea name="content" id="" cols="30" rows="10"></textarea><br><br>
        <button>Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button>
            <a href="/new-post" style='text-decoration: none; color: black'>Reset</a>
        </button>
    </form>
</body>
</html>