<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=3.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buôn bán mỹ phẩm</title>
</head>
<body>
    <header>
        <h1>Các loại mỹ phẩm</h1>
        <h2>
            <a href="https://www.facebook.com/profile.php?id=100008386986614&fref=ufi" style = "text-decoration: none; color:black">Liên hệ em Khánh Ly 18 tuổi</a>
        </h2>
    </header>
    <hr>
    <h3>Ủ trắng cà phê</h3>
    <img src="images/utrang.jpg" alt="">
    <h3>Giảm cân đông y</h3>
    <img src="images/giamcan.jpg" alt="">
    <h3>Tinh dầu bưởi</h3>
    <img src="images/tinhdaubuoi.jpg" alt="">
    <h3>Toner giấm táo</h3>
    <img src="images/toner.jpg" alt="">
    <h3>Gel lô hội bưởi dưỡng mi</h3>
    <img src="images/gel.jpg" alt="">
    <hr>
    <p>Phạm Đức Mạnh - C4E21 - Study exercise 1</p>
</body>
</html>