._fym{word-wrap:break-word}
.sp_wHBTtdFvYzg{background-image:url(/rsrc.php/v3/yx/r/RyK2IIYvhR6.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_wHBTtdFvYzg.sx_0705a1{background-position:0 0}.sp_wHBTtdFvYzg.sx_832d4f{width:10px;height:12px;background-position:0 -17px}

#bootloader_nPJHR{height:42px;}.bootloader_nPJHR{display:block!important;}