._5sor{font-size:12px}._-el ._5sor{font-size:15px}
.sp_h4WoDGzpzJU{background-image:url(/rsrc.php/v3/yB/r/h__Tw_8DUZZ.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:21px;width:21px}.sp_h4WoDGzpzJU.sx_54a43e{width:12px;height:12px;background-position:0 -44px}.sp_h4WoDGzpzJU.sx_324dea{background-position:0 0}.sp_h4WoDGzpzJU.sx_01b16f{background-position:0 -22px}

#bootloader_m7i6f{height:42px;}.bootloader_m7i6f{display:block!important;}