<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{  fullname  }}</title>
</head>
<body>
    <p>
        <h1>
            C4E21 Class list</a>
        </h1>
        <h2>
            <i>
                <a href="http://127.0.0.1:5000/users" style = "text-decoration: none; color:black">(Click here to return to class list)</a>
            </i>
        </h2>    
    </p>
    
    <h1>Full name: {{  fullname  }}</h1>
    <h2></h2>
    <h2>Email: {{  email  }}</h2>
    <h2>Phone: {{  phone  }}</h2>
    <h2>DOB: {{  dob  }}</h2>
    <h2>Facebook: {{  fb  }}</h2>
    <h2>University/Company: {{  uni  }}</h2>
    <h2>Reference: {{  ref  }}</h2>
</body>
</html>