<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{  name  }}</title>
</head>
<body>
    <p>
        <h1>
            C4E21 Class list</a>
        </h1>
        <h2>
            <i>
                <a href="http://127.0.0.1:5000/users" style = "text-decoration: none; color:black">(Click here to return to class list)</a>
            </i>
        </h2>    
    </p>
    
    <h2>Full name: {{  name  }}</h2>
    <h2>Age: {{  age  }}</h2>
</body>
</html>