<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BMI Calculation & Conclusion</title>
</head>
<body>
    <h1>BMI Calculation & Conclusion</h1>
    <h3>Your weight is {{ weight }} kg</h3>
    <h3>Your height (in meter) is {{ height }} m</h3>
    <h3>Your calculated BMI* is {{ bmi }}</h3>
    <h4>
        <i>BMI = weight / (height * height)</i>
    </h4>
    <h3>Conclusion: You are {{ conclusion }}</h3>
</body>
</html>